<br>

<mat-card>
  <mat-card-header><mat-card-title>
    <h4>¡Bienvenido al portal ORII!</h4>
  </mat-card-title></mat-card-header>
  <mat-card-content>
    <div class="text"><p>Es un placer dar la bienvenida a nuestra plataforma digital, el Portal ORII. Aquí encontrarás una herramienta
      integral que te permitirá crear nuevas oportunidades de movilidad académica y enriquecimiento
      cultural en el ámbito internacional e interinstitucional. Nuestro compromiso es brindar la mejor experiencia 
      posible en tu búsqueda de oportunidades de intercambio y aprendizaje. </p></div>
      <app-carousel></app-carousel>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header><mat-card-title><b>ULTIMAS MOVILIDADES AGREGADAS</b></mat-card-title></mat-card-header><br>
    <mat-card-content>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target)" placeholder="Filtrar">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="tipo_mov">
                <th mat-header-cell *matHeaderCellDef> Tipo de Movilidad </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_mov}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="clase_mov">
                <th mat-header-cell *matHeaderCellDef> Clase de Movilidad </th>
                <td mat-cell *matCellDef="let element"> {{element.clase_mov}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="codigo_estudiante">
                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.codigo_actor}} </td>
              </ng-container>

              <ng-container matColumnDef="actor">
                <th mat-header-cell *matHeaderCellDef> Rol</th>
                <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
              </ng-container>

              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let element"> <button mat-button (click)="download(element.id)" type="submit" class="button">Descargar</button> </td>
                
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
      mat-row
      (click)="navigateTo(row.id)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

    </mat-card-content>
</mat-card>
