<mat-card>
    <mat-card-header><mat-card-title>
      <h4>¡Bienvenido al portal ORII!</h4>
    </mat-card-title></mat-card-header>
    <mat-card-content>
      <div class="text"><p>Es un placer dar la bienvenida a nuestra plataforma digital, el Portal ORII. Aquí encontrarás una herramienta
        integral que te permitirá crear nuevas oportunidades de movilidad académica y enriquecimiento
        cultural en el ámbito internacional e interinstitucional. Nuestro compromiso es brindar la mejor experiencia 
        posible en tu búsqueda de oportunidades de intercambio y aprendizaje. </p></div>
        <app-carousel></app-carousel>
    </mat-card-content>
  </mat-card>
<div class="background-home">
    
</div>


