<div class="form">
  <section class="mat-typography">
  <ul class="tab-group">
    <ng-container *ngIf="!isOri; else viewOri">
      <li class="tab active">
        <a
          ng-model="active"
          routerLinkActive="activebutton"
          (click)="isOri = !isOri"
          >FACULTAD</a
        >
      </li>
      <li class="tab">
        <a 
          ng-model="active"
          routerLinkActive="activebutton"
          (click)="isOri = !isOri"
          ><img
            src="../../../assets/Logo2.png"
            width="60"
            height="18"
            alt="logo"
        /></a>
      </li>
    </ng-container>
  </ul>
  <div class="tab-content">
    <ng-container *ngIf="!isOri; else viewLoginOri">
      <div id="signup">
        <h2>Ingresar como Facultad</h2>
        <div id="logo-login">
          <img
            src="../../../assets/ufps.png"
            width="80"
            height="50"
            alt="logo"
          />
        </div>
        <form [formGroup] = "loginForm" (ngSubmit)="onLoginFacultad()">
          <div class="field-wrap" style="margin-bottom: 1rem;">
            <mat-form-field>
              <mat-label>Facultad</mat-label>
              <select matNativeControl required>
                <option value="1"> Ciencias Agrarias y del Ambiente</option>
                <option value="2"> Ciencias Básicas</option>
                <option value="3"> Ciencias Empresariales</option>
                <option value="4"> Ciencias de la Salud</option>
                <option value="5"> Educación, Artes y Humanidades</option>
                <option value="6">  Ingeniería</option>
              </select>
            </mat-form-field>
            <!-- <input
              formControlName="email"
              type="email"
              required
              autocomplete="off"
              placeholder="Correo Electronico *"
            />
            <mat-error *ngIf="isValidFill('email')">
              {{getErrorMessage('email')}}
            </mat-error> -->
          
          </div>
          <div class="field-wrap">
            <input
              formControlName="email"
              type="email"
              required
              autocomplete="off"
              placeholder="Correo Electronico *"
            />
            <mat-error *ngIf="isValidFill('email')">
              {{getErrorMessage('email')}}
            </mat-error>
          
          </div>

          <div class="field-wrap">
            <input
              formControlName="password"
              [type]="hide ?'text':'password'"
              required
              autocomplete="off"
              placeholder="Contraseña *"
            />
            <a mat-icon-button matSuffix (click)="hide=!hide">
              <mat-icon>{{hide ? "visibility" :"visibility_off"}}</mat-icon>
            </a>
            <mat-error *ngIf="isValidFill('password')">
              {{getErrorMessage('password')}}
            </mat-error>

            <p class="forgot"><a href="#">Olvido su contraseña?</a></p>
          </div>
          

          

          <button mat-button  type="submit" class="button button-block">Iniciar</button>
        </form>
      </div>
    </ng-container>

    <ng-template #viewLoginOri>
      <div id="login">
        <h2>Ingresar como</h2>
        <div id="logo-login">
          <img
            src="../../../assets/Logo.png"
            width="80"
            height="50"
            alt="logo"
          />
        </div>
        <form [formGroup] = "loginForm" (ngSubmit)="onLoginOri()">
          <div class="field-wrap">
            <input
              formControlName="email"
              type="email"
              required
              autocomplete="off"
              placeholder="Correo Electronico *"
            />

            <mat-error *ngIf="isValidFill('email')">
              {{getErrorMessage('email')}}
            </mat-error>
          </div>

          <div class="field-wrap">
            <input
              formControlName="password"
              [type]="hide ?'text':'password'"
              required
              autocomplete="off"
              placeholder="Contraseña *"
            />
            <a mat-icon-button matSuffix (click)="hide=!hide">
              <mat-icon>{{hide ? "visibility" :"visibility_off"}}</mat-icon>
            </a>
            <mat-error *ngIf="isValidFill('password')">
              {{getErrorMessage('password')}}
            </mat-error>

            <p class="forgot"><a href="#">Olvido su contraseña?</a></p>
          </div>

          

          <button mat-button   type="submit" class="button button-block">Iniciar</button>
        </form>
      </div>
    </ng-template>

    <ng-template #viewOri>
      <li class="tab">
        <a
          ng-model="active"
          routerLinkActive="activebutton"
          (click)="isOri = !isOri"
          >FACULTAD</a
        >
      </li>
      <li class="tab active">
        <a
          ng-model="active"
          routerLinkActive="activebutton"
          (click)="isOri = !isOri"
          ><img
            src="../../../assets/Logo2.png"
            width="70"
            height="18"
            alt="logo"
        /></a>
      </li>
    </ng-template>
  </div>
</section>
  <!-- tab-content -->
</div>
<!-- /form -->
